<form class="container-post" method="post" action="/login">
    <div class="col-6">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" name="emailID">

    </div>
    <div class="col-6">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" name="Password">
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>